{% extends 'base.html' %}

{% block content %}

<style>
    #b3{background-color:green;}
</style>

 <div class="jumbotron jumbotron-fluid mx-5 my-5 rounded-lg">
      <div class="container">
<div class="typewriter">
<h2>{{ title }}</h2>
 <hr>
    <h3>{{ message }}</h3>
<br><br>
</div>

<div class="center1">
<form action="/about1" method="post" enctype="multipart/form-data" >

    <input type="file" style="margin-left:55px;" name="file" />
    <br><br><br><br>
    <input style="text-align: center; width:200px;height:50px;font-size:30px;background-color:yellow;" type="submit" value="Encrypt" align="center">
  <a href="/home">Back</a>

</form>

 </div>

</div>
     </div>
    {% endblock %}
