
{% extends 'base.html' %}
{% block content %}

<style>
    #b4{background-color:green;}
</style>

<div class=" jumbotron jumbotron-fluid mx-5 my-5 rounded-lg">
      <div class="container">

<div class="typewriter">
<h2>{{ title }}</h2>
    <hr>
    <h3>{{ message }}</h3>
<br><br>
</div>
<div>

    <div class="center1">
   <form action="/contact1" method="post" enctype="multipart/form-data">
	<br>
       <div>
           <input type="file" style="margin-left:55px;" align="center" name="file"/> <br><br>
           <input type="text" style="margin-left:-50px;" name="key" value="" placeholder="Enter your key here"/> <br><br>
           <input style="text-align: center; width:200px;height:50px;font-size:30px;background-color:yellow;" type="submit" value="Decrypt" align="center"/>
         <a href="/home">Back</a>
     </div>
    </form>
    </div>


</div>
</div></div>
{% endblock %}
