{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}
<style>
    #b1{background-color:green;}
</style>
<center>
<div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-left:40px;">
<h1 style="">Steganography</h1><br><br>

<h2 style="margin-left:-60%">Note:</h2><br>

<div style="font-family:">

<h4> Click on the <b>"Encode"</b> button for Encoding your secret message. </h4><br>
<h4 style="margin-left:-130px;"> Click on the <b>"Encrypt"</b> button for Encrypt your Image. </h4><br>
<h4> Click on the <b>"Decrypt"</b> button for Decrypt the Encrypted Image. </h4><br>
<h4 style="margin-left:-5px;"> Click on the <b>"Decode"</b> button for Decoding the secret message. </h4><br>
</div>

<marquee  width="1000">@Stenography</marquee>
    <br><br>
</div>
</center>
{% endblock %}